/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

/*@import "hamburgers-settings"*/
/*@import "hamburgers";*/

:root {
    --header-height: 60px;
    --menu-transition: width 0.3s, padding-left 0.1s;
    --menu-width: 275px;
    --padding-default: 15px;
}

body {
    background-color: #222225;

}

header {
    height: var(--header-height);
    position: fixed;
    width: 100%;
    background: #6dddfd;
    z-index: 1;
    top: 0;
}

#menu {
    float: left;
    width: var(--menu-width);
    background: #2a2b2d;
    overflow: hidden;
    transition: var(--menu-transition);
    position: fixed;
    margin-top: var(--header-height);
    height: calc(100% - var(--header-height));
    top: 0;
}

#main.menu-hidden #menu {
    width: 0;
}

#content {
    float: left;
    width: 100%;
    padding: var(--padding-default);
    padding-left: calc( var(--menu-width) + var(--padding-default) );
    padding-top: calc( var(--header-height) + var(--padding-default) );
    transition: var(--menu-transition);
}

#main.menu-hidden #content {
    padding-left: var(--padding-default);
    width: 100%;
}

.col-center {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1920px) {
    .col-center {
        width: 700px;
    }
}
